<template name="tps">

    <!-- Page heading -->
    {{> pageHeading title='Mes TPs' category='App views' }}
     <div class="ibox search">
        <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-11">
                    <div class="input-group">
                        <input type="text" placeholder="Rechercher" class="input-sm form-control" id="searchtext"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" id="searchbtn">Rechercher</button> </span>
                    </div>
                </div>
                {{#if isTeacher}}
                <div class="action col-md-1">
                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#newTPForm"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter</button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

 {{#each tps showExtraFields}}
        <div class="vote-item">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{pathFor route='tps.questions'}}" class="vote-title">
                       {{name}} <span class="pull-right">{{pubDate deadline}}</span>
                    </a>
                </div>
            </div>
        </div>
 {{/each}}
 {{#if isTeacher}}
 <div class="modal inmodal" id="newTPForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Ajout d'un nouveau TP</h4>
                </div>
                {{#autoForm collection="Tps" id="insertTPForm" type="insert" resetOnSuccess=true preserveForm=false}}
                    <div class="modal-body">
                        <div class="form-group">
                            {{> afQuickField name='name'}}
                            {{> afQuickField name='deadline'}}
                            {{> afQuickField name='classid' value=this._id}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="addClose" class="btn btn-white" data-dismiss="modal">Fermer</button>
                        <button type="submit"  class="btn btn-primary">Enregistrer</button>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
    {{/if}}
    </div>
</template>