<template name="tpsstudentlist">

    <!-- Page heading -->
    {{> pageHeading title='Mes TPs' category='App views' }}

    <div class="wrapper wrapper-content animated fadeInRight">

 {{#each tpstudent}}
        <div class="vote-item">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{pathFor route='tps.studentquestion'}}" class="vote-title">
                       {{name}} <span class="pull-right">{{pubDate deadline}}</span>
                    </a>
                </div>
            </div>
        </div>
 {{/each}}
    </div>
</template>