<template name="classes">
    <!-- Page heading -->
    {{> pageHeading title='Les Classes' category='App views' }}
    <div class="wrapper wrapper-content animated fadeInUp">
   
        <div class="ibox">
            <div class="ibox-title">
                <h5>Tous les classes</h5>
                <div class="ibox-tools">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newClassForm">
                        Ajouter un class
                    </button>
                </div>
                <div class="modal inmodal" id="newClassForm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Ajout d'un class</h4>
                            </div>
                            {{#autoForm collection="Classes" id="insertClassForm" type="insert" resetOnSuccess=true preserveForm=false}}
                            <div class="modal-body">
                                <div class="form-group">

                                    {{> afQuickField name='className'}} 
                                    {{> afQuickField name='levelId' isReactiveOptions=true}} 
                                    {{> afQuickField name='teachers' isReactiveOptions=true}}


                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="newClose" class="btn btn-white" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                            {{/autoForm}}

                        </div>
                    </div>
                </div>

                <div class="modal inmodal" id="updateClassForm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Modification d'un class</h4>
                            </div>
                            {{#autoForm collection="Classes" id="updateExistingClassForm" doc=this type="update"}}
                            <div class="modal-body">

                                <div class="form-group">

                                    {{> afQuickField name='className'}} 
                                    {{> afQuickField name='levelId' isReactiveOptions=true}} 
                                    {{> afQuickField name='teachers' isReactiveOptions=true}}

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" id="updatClose">Fermer</button>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>

                            </div>
                            {{/autoForm}}

                        </div>
                    </div>
                </div>


            </div>
            <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">

                    <div class="col-md-12">
                        <div class="input-group">
                              <input type="text" placeholder="Rechercher" class="input-sm form-control" id="searchtext"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" id="searchbtn">Rechercher</button> </span>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">

                    <table class="table table-hover footable toggle-arrow-tiny">
                        <thead>
                            <tr>
                                
                                <th data-toggle="true">Nom</th>
                                <th data-toggle="true">Niveau</th>
                                <th data-toggle="true">Professeurs</th>
                                <th data-sort-ignore="true">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each classes showExtraFields}}
                            <tr>
                                 <td class="project-status">
                                    {{className}}
                                </td>
                                 <td class="project-status">
                                    {{levelName levelId}}
                                </td>
                                 <td class="project-status">
                                    {{teachersName teachers}}
                                </td>
                               
                                <td>

                                    <a href="{{pathFor route='classes.delete'}}" id='remove' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Suppression</a>
                                    <a href="{{pathFor route='classes.edit'}}" id='edit' class="btn btn-success btn-sm editbtn"><i class="fa fa-pencil"></i>Modification</a>

                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>



<template name="class_status">
    <button type="button" class="btn btn-xs {{statusClass disable_class_status}}" id="status">{{statusText disable_class_status}}</button>

</template>